/* Estilo para todo el cuerpo de la página */
*{
    background-color: #003459;  
    margin: auto;  

}



div{
    background-color: white;
    border-radius: 50px;
    margin: 5% auto auto 20%;
    width: 60%;
    height: 60%;
    position: static;
}

/* Estilo para enlaces */
a {
    display: inline-block;  /* Tipo de display */
    margin-top: 20px;       /* Margen superior */
    padding: 10px 20px;     /* Espaciado interno */
    background-color: #007bff;  /* Color de fondo */
    color: white;           /* Color de texto */
    text-decoration: none;  /* Quitar subrayado */
    border-radius: 5px;     /* Bordes redondeados */
}

/* Efecto hover para enlaces */
a:hover {
    background-color: #0056b3;  /* Cambio de color al pasar el mouse */
}