<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis Estudios - Gestor de Tiempo</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
        <div class="caja">
            <h1>BIENEVENID@ a</h1>

            <!--texto de inicio jijii-->
            <!--texto fijo ijiji-->
            
                <DIv class="logo">
                    <h1 class="bienvenida">
                        Organiza, planea y alcanza tus metas con
                    </h1>
                    <img th:src="@{img/logo.png}" alt="logo" class="logo1" >
                   
                </DIv>
                <div class="linea"></div>
                <div class="botones">
                    <h3>inicia seccion con</h3>
                    <button class="boton1">
                        <img th:src="@{img/google2.png}" alt="google" class="logo2">
                        Continuar con Google
                    </button>
                    <button class="boton2">
                        <img th:src="@{img/git.png}" alt="google" class="logo2">
                        Continuar con Git Hub
                    </button>
                    <button class="boton3">
                        <img th:src="@{img/google2.png}" alt="google" class="logo2">
                        Continuar con Google
                    </button>
                    <button class="boton4">
                        <img th:src="@{img/google2.png}" alt="google" class="logo2">
                        Continuar con Google
                    </button>
                    <nav>
                        si no tienes cuenta
                        <a href="">da clic aquí</a>
                    </nav>
                </div>
            
            

        </div>
</body>
</html>